[merge]
	tool = vimdiff
[rerere]
	enabled = true
[user]
	name = Tao
	email = tech@huangtao.me
[color]
	status = auto
#	diff = auto
#	branch = auto
#	interactive = auto
#	ui = true
#	pager = true
[alias]
	abbr = "!sh -c 'git rev-list --all | grep ^$1 | while read commit; do git --no-pager log -n1 --pretty=format:\"%H %ci %an %s%n\" $commit; done' -"
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
	ci = commit
	co = checkout
	st = status
	lc = log ORIG_HEAD.. --stat --no-merges
	lg = log --graph --pretty=oneline --abbrev-commit
	lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	diffstat = diff-tree --stat
[difftool]
	prompt = false
